*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cadastro-form h1{
    text-transform: capitalize;
    text-align: center;
    margin: 10px 0;
}

.cadastro-form .form{
    display: grid;
    grid-template-areas: "col-l col-r"
                         "btn none";
    gap: 10px;
}

.cadastro-form .form label{
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 10px 0;
    font-size: 18px;
}

.cadastro-form .form label input{
    display: inline-block;
    width: 90%;
    margin-left: 10px;
}

.cadastro-form .form label:nth-child(4) input{
    display: inline-block;
    width: 88%;
    text-align: center;
    font-size: 18px;
}

.cadastro-form .form label select{
    display: inline-block;
    width: 90%;
    margin-left: 10px;
    border: none;
    background-color: #eee;
    padding: 5px;
    text-align: center;
    font-size: 18px;
}

.cadastro-form .form .column-left{
    grid-area: col-l;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 6px 6px 6px #804473;
    border: 1px solid #ccc;
}

.cadastro-form .form .column-right{
    grid-area: col-r;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 6px 6px 6px #804473;
    border: 1px solid #ccc;
}

.cadastro-form .form .buttons{
    grid-area: btn;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 10px;
}

.cadastro-form .form .buttons .form-btn{
    display: inline-block;
    padding: 10px 40px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #d281e6;
    color: #fff;
    cursor: pointer;
    transition: all .222s linear;
}

.cadastro-form .form .buttons .form-btn:hover{
    background-color: #5d2e69;
    font-weight: bold;
}