*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cadastro-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
}

.cadastro-form h1{
    text-transform: capitalize;
    text-align: center;
    margin: 10px 0;
}

.cadastro-form .form{
    display: flex;
    flex-direction: column;
    width: 100%;
    place-items: center;
}

.cadastro-form .form label{
    display: inline-block;
    width: 100%;
    margin: 5px 0;
}

.cadastro-form .form label span{
    display: inline-block;
    width: 25%;
    margin: unset;
    font-size: 20px;
    font-weight: normal;
}

.cadastro-form .form label input{
    width: 74%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 18px;
    outline: none;
    
    }
    ::-webkit-input-placeholder {
        color: #555;
    }
     
    :-moz-placeholder { /* Firefox 18- */
        color: #555;
    }
     
    ::-moz-placeholder {  /* Firefox 19+ */
        color: #555; 
        
    }
     
    :-ms-input-placeholder {  
        color: #555; 
    }

.cadastro-form .form label input[type="date"]{
    text-align: center;
}

.cadastro-form .form label select{
    display: inline-block;
    width: 74%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    outline: none;
}

.cadastro-form .form .buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 10px;
}

.cadastro-form .buttons button{
    display: grid;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d281e6;
    color: #fff;
    font-size: 20px;
    transition: all .224s ease;
    cursor: pointer;
}

.cadastro-form .buttons button:hover{
    background-color: #5d2e69;
    font-weight: bold;
}