@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.cadastro-form{
    display: flex;
    width: 45%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
}

.cadastro-form .form{
    display: flex;
    flex-direction: column;
    width: 100%;
    place-items: center;
}

.cadastro-form .form label{
    display: inline-block;
    width: 100%;
    margin: 5px 0;
    position: relative;
}

.cadastro-form .form label span{
    display: inline-block;
    width: 18%;
    margin: unset;
    font-size: 24px;
    font-weight: normal;
}

.cadastro-form .form label select{
    position: absolute;
    right: 0;
    width: 65%;
    text-align: center;
    border: none;
    border-bottom: 1px solid #000;
    padding: 5px;
    background-color: #fff;
    font-size: 18px;
}

.cadastro-form .buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 20px
}

.cadastro-form .buttons button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d281e6;
    color: #fff;
    font-size: 20px;
    transition: all .224s ease;
    display: grid;
    margin: 10px 0;
    cursor: pointer;
}

.cadastro-form .form button:hover{
    background-color: #5d2e69;
    font-weight: bold;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .container-cadastro{
        display: grid;
        width: 100vw;
        height: 100vh;
        padding: 10px 0;
        place-items: center;
        justify-content: center;
        background: blueviolet;
        overflow: auto;
    }

    .cadastro-img{
        display: none;
    }

    .container-conteudo{
        display: flex;
        width: inherit;
        height: unset;
        padding: 10px;
    }

    .cadastro-form{
        display: flex;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
    }

    .cadastro-form span{
        color: white;
        font-size: 30px;
        font-weight: bold;
        margin: unset;
    }

    .cadastro-form .form{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }

    .cadastro-form input{
        width: 100%;
        padding: 12px 15px;
        border: 1px solid white;
        border-radius: 20px;
        background-color: #ac6ebb;
        margin-top: 5px;
        margin-bottom: 5px;
        color: white;
        outline: none;
    }

    .cadastro-form .form label{
        display: inline-block;
        width: 100%;
        margin: 5px 0;
    }

    .cadastro-form .form label span{
        display: inline-block;
        width: 18%;
        margin: unset;
        font-size: 20px;
        font-weight: normal;
    }

    .cadastro-form button{
        width: 100%;
        padding: 12px 5px;
        margin-top: 20px;
        background-color: #610d75;
        color: #fff;
        font-weight: bold;
        border: none;
        border-radius: 20px;
        box-shadow: 3px 3px 7px black;
        cursor: pointer;
    }

    .cadastro-form .linha{
        width: 70%;
        height: 1px;
        background-color: #dcdcdc;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .cadastro-form .cadastro-opcoes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
}

@media screen and (min-width: 480px) and (max-width: 720px){
    .container-cadastro{
        display: grid;
        width: 100vw;
        height: 100vh;
        padding: 10px 0;
        place-items: center;
        justify-content: center;
        background: blueviolet;
        overflow: auto;
    }

    .cadastro-img{
        display: none;
    }

    .container-conteudo{
        display: flex;
        width: inherit;
        height: unset;
        padding: 20px;
    }

    .cadastro-form{
        display: flex;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
    }

    .cadastro-form span{
        color: white;
        font-size: 30px;
        font-weight: bold;
        margin: unset;
    }

    .cadastro-form .form{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }

    .cadastro-form input{
        width: 100%;
        padding: 12px 15px;
        border: 1px solid white;
        border-radius: 20px;
        background-color: #ac6ebb;
        margin-top: 5px;
        margin-bottom: 5px;
        color: white;
        outline: none;
    }

    .cadastro-form .form label{
        display: inline-block;
        width: 100%;
        margin: 5px 0;
    }

    .cadastro-form .form label span{
        display: inline-block;
        width: 18%;
        margin: unset;
        font-size: 20px;
        font-weight: normal;
    }

    .cadastro-form button{
        width: 100%;
        padding: 12px 5px;
        margin-top: 20px;
        background-color: #610d75;
        color: #fff;
        font-weight: bold;
        border: none;
        border-radius: 20px;
        box-shadow: 3px 3px 7px black;
        cursor: pointer;
    }

    .cadastro-form .linha{
        width: 70%;
        height: 1px;
        background-color: #dcdcdc;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .cadastro-form .cadastro-opcoes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
}